extends ../layout

block contents
  form(method='post' action=router.url('login'))
    input(name='username' placeholder='Username')
    input(name='password' placeholder='Password')
    button(type='submit') Login
    p= JSON.stringify(flash)