extends ../layouts/default

block contents
  form(method='post' action=router.loginPath)
    input(name='username' placeholder='Username')
    input(name='password' placeholder='Password')
    button(type='submit') Login
    p= JSON.stringify(flash)