body[data-route="sessions/new"] {

  background-color: #1d1d1d;

  #login_form_container {
    width: 450px;

    .btn-group {
      width: 100%;
    }

    .btn-group button {
      width: 50%;
    }
  }

  .logo-large {
    display: block;
    margin: 50px auto 0;
    width: 350px;
  }

  .logo-nurse-app {
    display: block;
    margin: 20px auto 0;
    width: 60px;
  }

  .logo-tecodo {
    display: block;
    margin: 20px auto 0;
  }

}