body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #222;
  width: 100%;
}

#top_most {
  align-items: center;
  display: flex;
  height: 45px;
  margin: 0;

  .logo {
    height: 25px;
  }
}

main {
  display: flex;
  flex: 1 0 auto;
}

#top_nav_bar {
  background-color: none;
}