doctype html
html
  head
    - title = title ? `Audry Admin Console - ${title}` : 'Audry Admin Console';
    title= title

    link(rel='stylesheet' type='text/css' href='/assets/application.css')
    link(rel='stylesheet' type='text/css' href='/assets/components.css')

    script.
      window.SHARED_DATA = {};

    script(src='/assets/manifest.js')
    script(src='/assets/vendor.js')

  body(data-route=`${controller.name}/${controller.actionName}`)
    header.container-fluid
      #top_most.row
        img.logo(src='/assets/logo-hospital.png')
      block header-contents-followup

    main.container-fluid.w-100
      block contents

    footer

    script(src='/assets/application.js')