doctype html
html
  head
    - title = title ? `Audry Admin Console - ${title}` : 'Audry Admin Console';
    title= title

    link(rel='stylesheet' type='text/css' href='/assets/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/assets/application.css')

    script(src='/assets/jquery/dist/jquery.min.js')
    script(src='/assets/tether/dist/js/tether.min.js')
    script(src='/assets/bootstrap/dist/js/bootstrap.min.js')

  body(data-route=`${controller().name}/${controller().actionName}`)
    header.container-fluid
      #top_most.row
        img.logo(src='/assets/logo-hospital.png')
      block header-contents-followup

    main.container-fluid
      block contents

    footer