doctype html
html
  head
    title= `Audry Admin Console ${title}`
    link(rel='stylesheet' type='text/css' href='assets/bootstrap/dist/css/bootstrap.min.css')
    script(src='assets/bootstrap/dist/js/bootstrap.min.js')
  body
    block contents